* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #777777 url("../img/first-bg.jpg.jpg") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
}

.header-top-menu-btn {
  display: none;
}

.header-top-menu-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-menu-item {
  list-style-type: none;
}

.header-top-menu-item a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 40px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header-top-menu-item a:hover {
  color: #e2001a;
}

.header-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0 10%;
}

.header-wrapper-subtitle {
  color: #ffffff;
  padding-bottom: 3%;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.header-wrapper-title {
  color: #ffffff;
  padding-bottom: 5%;
  font-family: sans-serif;
  font-size: 75px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.header-wrapper-btn {
  width: 240px;
  height: 65px;
  background-color: #fed136;
  color: #484543;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.header-wrapper-btn:hover {
  background-color: #e2001a;
  color: #ffffff;
}

.services {
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-title {
  margin: 0;
  padding-top: 5%;
  color: #000000;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 75px;
  text-transform: uppercase;
  font-style: bold;
}

.services-subtitle {
  margin: 0;
  padding-top: 2%;
  color: #777777;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.services-wrapper {
  margin: 0;
  padding-top: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-block {
  margin: 0;
  padding-bottom: 5%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-block-title {
  padding-top: 25px;
  color: #222222;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.services-block-txt {
  color: #777777;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.portfolio {
  width: 100%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-titile {
  padding-top: 5%;
  color: #222222;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.portfolio-subtitle {
  margin: 0;
  padding-top: 2%;
  color: #777777;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.portfolio-wrapper {
  width: 80%;
  padding: 3% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio-block {
  width: 30%;
  padding: 0px;
}

.portfolio-block-link {
  padding: 0px;
}

.portfolio-block-link :hover {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.portfolio-block-link img {
  width: 100%;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-title {
  padding-top: 5%;
  color: #222222;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.about-subtitle {
  color: #777777;
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 75px;
}

.about-wrapper {
  width: 85%;
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 180px 1fr;
      grid-template-columns: 1fr 180px 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 60px;
}

.first-grid {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.first-grid article {
  text-align: right;
}

.second-grid {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 3 / 4;
}

.third-grid {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.third-grid article {
  text-align: right;
}

.fourth-grid {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 4 / 2 / 5 / 4;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-block-inner {
  padding: 0px 40px;
}

.about-block-inner article {
  color: #777777;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #777777;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.about-block-inner article time {
  display: block;
  color: #222222;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.45px;
  text-transform: uppercase;
}

.about-block-inner article h3 {
  margin: 5px 0;
  color: #222222;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.45px;
}

footer {
  width: 80%;
  padding: 5% 0 5%;
  margin: 0 auto;
  text-align: center;
}

footer .footer-txt {
  color: #555555;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
}

footer .footer-txt a {
  color: #555555;
  text-decoration: none;
}

footer .footer-txt a:hover {
  color: #e2001a;
}

@media (max-width: 599px) {
  header {
    width: 100%;
    background: #777777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2%;
  }
  .header-top-menu-btn {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-color: indianred;
    position: relative;
  }
  .header-top-menu-btn span,
  .header-top-menu-btn span::before,
  .header-top-menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: black;
  }
  .header-top-menu-btn span::before,
  .header-top-menu-btn span::after {
    content: "";
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header-top-menu-btn span::before {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .header-top-menu-btn span::after {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header-top-menu-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-top-menu-item {
    list-style-type: none;
  }
  .header-top-menu-item a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 40px;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .header-top-menu-item a:hover {
    color: blue;
  }
  .header-wrapper {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10% 0 10%;
  }
  .header-wrapper-subtitle {
    color: #ffffff;
    padding-bottom: 3%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .header-wrapper-title {
    color: #ffffff;
    padding-bottom: 5%;
    font-family: sans-serif;
    font-size: 75px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .header-wrapper-btn {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #484543;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .header-wrapper-btn:hover {
    background-color: #e2001a;
    color: #ffffff;
  }
}
